{% extends 'notuser/templates/layout.html' %}
{% block content %}
<div class="text" style="margin-top:2rem;">
   <h3 class="text-center" style="border-bottom:2px solid #0dc7e8;">About Us</h3>
   <img src="static/img/aboutUs.jpg" alt="About Us" class="center">
   <br><br>
   <p><b>NepseHub</b> is a Powerful platform to perform all kinds of prediction and analysis where you can get each and every detailed information of the stocks you require.
      It is developed by Sarak Dahal as a Final Year Project.
      Mostly Nepse Hub pulls all the required data of NEPSE which is foremost required by an investor. Where we an investor can directly gain the data they want
      easily. <br><br> Even with Nepse Hub future plan an investor can gain a lot more knowledge and investment tips which he/she can directly input into live stock market.
      The User Interface here is very simple to understand and even if incase he/she has confusion then we have <a
         href="http://127.0.0.1:5000/help">Help & Support</a> page which would guide respective investor to everything.
   </p>
</div>
<style>
   .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   }
</style>
{% endblock %}