{% extends 'notuser/templates/layout.html' %}
{% block content %}
<div class="text" style="margin-top:2rem;">
   <h3 class="text-center" style="border-bottom:2px solid #0dc7e8;">Contact Us</h3>
   <img src="static/img/contactUs.png" alt="Contact Us" class="center">
   <ul>
      <li>
         <p>You can directly contact us via Email: <a href="mailto:nepsemaster@gmail.com" target="_blank">nepsemaster@gmail.com</a></p>
      </li>
      <li>
         <p>Optional Email: <a href="mailto:dahal9sarak@gmail.com" target="_blank">dahal9sarak@gmail.com</a></p>
      </li>
   </ul>
   </p>
</div>
<style>
   .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   }
</style>
{% endblock %}