{% extends 'notuser/templates/layout.html' %}
{% block content %}
<div class="text" style="margin-top:2rem;">
   <h3 class="text-center" style="border-bottom:2px solid #0dc7e8;">Help and Support</h3>
   <img src="static/img/helpHere.jpg" alt="Help and Support" class="center">
   <ul>
      <li>
         <h4>What is Nepse Hub?</h4>
         <p>Nepse Hub is a complete package required for an investor to lookup upon Nepali Share Market. Where an investor can gain access to multiple tools and data from Nepali Stock Exchange free of cost.</p>
      </li>
      <li>
         <h4>Why Nepse Hub?</h4>
         <p>Nepse Hub in near future will provide all necessary info regarding stock market of Nepal in your fingertips. With easy, responsive User Interface and with more accuracy. The site will be your Hub and guide your path to surf NEPSE and invest in realtime.</p>
      </li>
      <li>
         <h4>Does the site work on Mobile Device too?</h4>
         <p>Yes of course, the website is built responsive so it work on all available platform/devices. Soon we will even be available in Google Play Store and Apple Store.</p>
      </li>
      <li>
         <h4>Is data displayed similar to NEPSE data?</h4>
         <p>Yes with 100% confirmation, all data displayed here is realtime NEPSE data with 0 second interval time. Data displayed here will be as similar to data displayed in NEPSE official website.</p>
      </li>
      <li>
         <h4>What is Refresh Data in Live Data?</h4>
         <p>Refresh Data is a button while on clicking the button, it takes all the live data of NEPSE with 0 second interval time.</p>
      </li>
      <li>
         <h4>What is Predict in Prediction?</h4>
         <p>Predict is a button with an input field next to it which provides prediction of Stock you enter. Prediction are based on stocks past data and even.</p>
      </li>
      <li>
         <h4>What should I input in Prediction?</h4>
         <p>In prediction we have an input field where you should input <b>EBL</b> for Everest Bank Limited.</p>
      </li>
      <li>
         <h4>What is Re-Train Model?</h4>
         <p>Re-Train Model is a button which first display Stock Data date right above it. As stock model are trained accordingly and if you want model to be upto date and gain more accuracy you can click Re-Train Model. It trains model as of todays date and give more accurate data as a result.</p>
      </li>
      <li>
         <h4>What is Calculate in Market Tool?</h4>
         <p>Calculate is a button which provides user to preform stock averaging with input field above.</p>
      </li>
      <li>
         <h4>How to I ask for additional Help and Support?</h4>
         <p><a href="mailto:nepseHub@gmail.com" target="_blank">You may directly mail to us by clicking on this text.</a></p>
      </li>
   </ul>
</div>
<style>
   .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   }
</style>
{% endblock %}